<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron" style="background-color: #eeeeee ;">
    <h1>Here you go</h1>
    <p>Face Mask Detector</p>
    <p><img src="<%= data %>" alt="MaskNoMask" max-height="700px" max-width="700px"></p>
  </div>
</main>

</body>

</html>